.container {
    width: 60%;
    margin: auto;
}

/* Header */
.logo {
    background-image: url(../img/pattern.png);
    background-color: rgb(85, 181, 241);
    background-size: 400px;
    background-repeat: repeat-x;
}

.logo > img {
    width: 20%;
    margin-top: 50px;
}

h1 {
    margin-bottom: 1px;
}

header span {
    color: lightgrey;
}

#booleaner {
    color: lightskyblue;
}

#date {
    font-size: 12px;
}

/* Main */

.Tim {
    width: auto;
    margin-top: 20px;
    height: 250px;
}

main span {
    font-size: 12px;
}

.text span {
    background-color: yellow;
    font-size: inherit;
}

table {
    margin: 25px auto;
    border-collapse: collapse;
}

th {
    text-align: left;
    width: 30%;
}

thead tr {
    background-color: rgb(38, 172, 255);
}

.colored {
    background-color: rgb(130, 200, 243);
}



