.container {
    width: 60%;
    margin: auto;
}

.logo {
    background-image: url(../img/pattern.png);
    background-color: rgb(85, 181, 241);
    background-size: 400px;
    background-repeat: repeat-x;
}

.logo > img {
    width: 20%;
    margin-top: 50px;
}